<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('index') }}"><i class="fa fa-home"></i>  {{ 'default.navbar.accueil' | trans}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('boutique') }}"><i class="fa fa-store"></i>  {{ 'default.navbar.boutique' | trans}}</a>
                </li>
                <li class="nav-item">
                    {{render(controller('App\\Controller\\PanierController::nbProduits')) }}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}"><i class="fa fa-comments"></i>  {{ 'default.navbar.contact' | trans}}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ 'app_login' }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ app.user ? "<i class='fas fa-user-check'></i>" : "<i class='fas fa-user'></i>" }} {{ 'default.navbar.mon_compte' | trans}}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item {{ app.user ? "disabled" : "" }}" href="{{ path('app_login') }}">
                            <i class="fa fa-check"></i>  {{ 'default.navbar.login' | trans}}
                        </a>
                        <a class="dropdown-item {{ app.user ? "" : "disabled" }}" href="{{ path('app_logout') }}">
                            <i class="fa fa-sign-out"></i>  {{ 'default.navbar.logout' | trans}}
                        </a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item {{ app.user ? "" : "disabled" }}" href="{{ path('usager_index') }}">
                            <i class="fa fa-user"></i>  {{ 'default.navbar.mon_compte' | trans}}
                        </a>
                        <a class="dropdown-item {{ app.user ? "" : "disabled" }}" href="{{ path('usager_orders') }}">
                            <i class="fa fa-book"></i>  {{ 'default.navbar.commandes' | trans}}
                        </a>
                    </div>
                </li>
            </ul>
            <form class="d-flex" action="{{ path('search') }}" method="get">
                <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
            </form>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ asset('images/' ~ app.request.attributes.get('_locale') ~ '.png')}}"/>
                </button>
                <div class="dropdown-menu" style="min-width: 5rem" aria-labelledby="dropdownMenuButton1">
                    {% set route = app.request.attributes.get('_route') %}
                    {% set params = app.request.attributes.get('_route_params') %}
                    {% for locale in supported_locales|split('|') %}
                        {% if(locale != app.request.attributes.get('_locale')) %}
                            <a class="dropdown-item" href="{{ path(route, params | merge({'_locale': locale })) }}">
                                <img src="{{ asset('images/'~ locale ~'.png')}}"/>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</nav>