{% extends "base.html.twig" %}
        {% block title %}
            {{ title }}
        {% endblock %}

            {% block body %}
                <div class="card col-md-12">
                    <div class="card-header">
                        <h1><i class="fas fa-home"></i> {{ categoryLabel }} : {{ nbProduits }} {{ default.rayon.produits | trans}}</h1>
                    </div>
                    <div class="card-body row">
                        {% for item in produits %}
                            <div class="col-md-3">
                                <div class="card clickable" onclick="location.href='{{ path('panier_ajouter',{'idProduit':item.id}) }}'" >
                                    <img src="{{ asset(item.visuel) }}" class="card-img-top" alt="{{ item.libelle }}">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ item.libelle }}</h4>
                                        <p class="card-text"><i>{{ item.texte }}</i></p>
                                        <h2>
                                            <span class="badge alert-success">
                                                <i class="fas fa-cart-plus"></i> {{ item.prix }} €
                                            </span>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}